{
  "presets": [
    "flow",
    ["env", {"modules": false}]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
    // ["module-resolver", {
    //   "alias": {
    //     "Openlaw": "./target/scala-2.12/client.js"
    //   }
    // }]
  ],
  "ignore": [
    "./target/scala-2.12/client.js"
  ]
}
