{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {"modules": false}]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ],
  "ignore": [
    "./target/scala-2.12/client.js"
  ]
}
